body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* Begin Header Area */
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

#left ul, #right ul{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 6px 15px;
}

li{
  padding: 8px;
}

a{
  text-decoration: none;
  color: rgba(50,50,50,1);
  font-size: 13px;
  font-weight: 400;
}

a:hover{
  border-bottom: 1px solid rgba(50,50,50,1);
}

header button{
  color: white;
  background: rgba(69,132,247,1);
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: 600;
}

/* End Header Area */

/* Google Image Area */

#google-content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

#google-content > section{
  padding: 20px;
}
